﻿html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.centralize {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shadows-1-vertical {
    -webkit-box-shadow: 0px 10px 10px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 10px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 10px -8px rgba(0,0,0,0.75);
}